<style>
    .nav {
        list-style-type: none;
        display: flex;
    }

    .nav a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        border: 1px solid darkgrey;
    }
</style>


<ul class="nav">
    <li *ngFor="let navItem of liks"><a [routerLink]="navItem.link">{{navItem.name}}</a></li>
</ul>